PORT="3000"
HOST="localhost"
SECRET_KEY=""
SERVER_MODE="DEVELOPMENT"
DATABASE_URL="postgres://<db_username>:<db_password>@localhost:5432/<db_name>"
CLIENT_ORIGIN=""
STRIPE_SECRET_KEY=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
