# Server
PORT="3001"
HOST="localhost"
SERVER_MODE="DEV"
DATABASE_URL="mongodb://localhost:27017/marvig-ai"

# Backend API
API_URL="http://localhost:3000"

# Frontend Client Origin
CLIENT_ORIGIN="http://localhost:5173"

# JWT secret key
SECRET_KEY=""

# Gemini Config
GEMINI_MODEL= "gemini-2.5-flash"
GEMINI_API_KEY=""
